/* Aesthetic: "that girl" 
    colors: deep green, light green, white, burnt orange, brown. blue/purple
    or 
    colors: light green, pink, white, orange
    fonts: */
:root{
    --color-background:brown;
    --color-header: green;
    --color-text: black;
    --font-h1: ;
    --font-h2:;
    --font-body:;
    --font-button:;

}
    body{
        /* display:flex;
        background-image: linear-gradient(var(--primary) ,var(--secondary));
       /* potential for a gradient here  */
        /* flex-direction: column; */ 
        /* background:#686e24;
        background: radial-gradient(circle, #686e24 0%, white 100%); */
        /* background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
        /* background: rgb(238,174,202);
        background: radial-gradient(circle, #B8860B 0%, white 100%); */
    }
/* turning the header into a flex container and elements have space between */
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        font-family: var(--font-h1);
        color: var(--color-header);

        
    }

    h1{
        font-size: 200%;
        margin-left: 20px;
        color: #686e24;
        margin-top: 25px;
    }
/* turning my nav bar into a flex container with even spacing */
    nav{
        width: 30%;
      

    }
    
    ul {
        display: flex;
        
        
    }
    li{
        width: 33%;
        text-align: center;

    } 
    /* takes away the lines from under the menu elements */
    a{
        text-decoration: none;
        /* color: white; */
    }
/* making the section me into a flex contaner, containts about me and profile pic */
    section.me{
        display: flex; 
        margin-top: 30px;
    }
    #profile-pic{
        /* display: inline; */
        width: 35%;
        margin: 15px;
    }
    #about{
        float: right;
        display: inline;
        margin-left: 5%;
        margin-top: 5%;
        width:60%;
        padding-left: 10%;
        padding-right:10%;
    } 
    h2{
        
        text-align: center;

    }
    /* main{
        display: flex;
        flex-wrap: wrap;
    } */

/* making the portfolio container a flex container */
   .all-apps{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        margin: 30px;
   }
/* making the first webapp in my portfolio a flex item */

    .first-app{
        flex: 2 1 0;
        width: 33%;
        height: auto;
        border-radius: 4%;
        
    }
/* flex wrap needs to be in container not this class  */
/* width of the app container */
    .app {
        display: flex;
        flex-wrap: wrap;
        width: 68%;
        height: auto;

    }
/* sets the styling of the images with class app  */
    .app img{
        flex: 1 1 0;
        max-width:100% ; 
        height: auto; 
        border-radius: 10%; 
        padding: 5px;
    }
/* width of the section with class side  */
    .side{
        width: 50%;

    }
    .side img{
        width: 100%;
    }
/* sets width of the section with class other */
    .other{
        width: 50%;
    }
    .other img{
        width: 100%;
    } 

    .buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5%;
        text-align: center;
    }


   button{
    aspect-ratio:3/1 ;
    width: 20%;
    margin-bottom: 5%;
    border:solid green 5px;
    border-radius: 5%;
    background: white;
    transition:background 1s ease-out,color 1s ease-out, border 1s ease-out;
   
   }
   button a{
    color:green;
   }
   button:focus{
    outline:none;
   }

    button:hover {
        background: #E00462;
        color: #fff;
        border: none;
    }

    button a:hover{
        color: white;
    }

    
   /*the beginnings of the screen adjustment  */
    @media screen and (max-width:992px) {
        /* for medium devices */
        /* first app and next two will split the screen evenly  */
        
        #first-app{
            width:100%;
        }
        .app{
            width:100%;
    
            }
        .side{
            width:50%;
            }
        .other{
            width:50%;
        }
        }

    @media screen and (max-width: 768px){
        /* small devices */
        /* each app will take up its own row */
        main,
        nav{
            flex-direction: column;
        }

      
        .app{
            width:100%;
            }
        .side{
            width:100%;
            }
        .other{
            width:100%;
        }
        }

   
    