/* Aesthetic: "that girl" 
    colors: deep green, light green, white, burnt orange, brown. blue/purple
    or 
    colors: light green, pink, white, orange
    fonts: */
:root{

}
    body{
        /* display:flex;
        background-image: linear-gradient(var(--primary) ,var(--secondary));
       /* potential for a gradient here  */
        /* flex-direction: column; */ 
        /* background:#686e24;
        background: radial-gradient(circle, #686e24 0%, white 100%); */
        /* background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
        /* background: rgb(238,174,202);
        background: radial-gradient(circle, #B8860B 0%, white 100%); */
    }
/* turning the header into a flex container and elements have space between */
    header{
        display:flex;
        flex-wrap:wrap ;
        justify-content: space-between;
        /* background-color: #77a861; */
        /* background-color: #686e24; */
        /* height: 100px; */
        align-content: center;
        
    }

    h1{
        font-size: 200%;
        margin-left: 20px;
        color: #686e24;
        margin-top: 25px;
    }
/* turning my nav bar into a flex container with even spacing */
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 25px;
       
        min-width: 400px; 
        
    }
    /* takes away the lines from under the menu elements */
    a{
        text-decoration: none;
        /* color: white; */
    }
/* making the section me into a flex contaner, containts about me and profile pic */
    section.me{
        display: flex; 
        margin-top: 30px;
    }
    #profile-pic{
        display: inline;
        width: 40%;
        margin: 20px;
    }
    #about{
        float: right;
        display: inline;
        margin-left: 5%;
        margin-top: 5%;
    } 
    h2{
        display: block;
        margin-top: -20px;
    }
    /* main{
        display: flex;
        flex-wrap: wrap;
    } */

/* making the portfolio container a flex container */
   #portfolio{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
    }
/* making the first webapp in my portfolio a flex item */
/* TODO fix size, make so that it is 2x the size of the other apps   */
/* TODO center on page */
    .first-app{
        /* display: inline; */
        flex: 2 1 0;
        width: 50%;
        height: auto;
        border-radius: 4%;
        
        /* overflow: hidden; */
        /* margin-left: auto;
        margin-right: auto; */
        
    }
/* flex wrap needs to be in container not this class  */
/* TODO fix flex elements */
    .app {
        /* display: inline; */
        width: 50%;
        

    }

    .app img{
        flex: 1 1 0;
        max-width:100% ;  
        /* min-width: 25%; */
        border-radius: 10%; 
        padding: 5px;
    }
    /* .other{
        float: right
    } */
    
        /* padding: 1%;
        border-radius: 4%;
        max-width:100% ;  
        min-width: 25%;
        float:right;
        min-width: 400px;  */
    }
   /*the begginings of the screen adjustment  */
    @media screen and (max-width:992px) {
        /* for medium devices */
    }

    @media screen and (max-width: 768px){
        /* small devices */
        main,
        nav{
            flex-direction: column;
        }
    }

   
    